*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
body{
    background-color: rgb(248, 107, 135);
}
main{
    background-color: white;
    width: 600px;
    margin:auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}
h1{
    font-size: 3em;
    color: rgb(2, 2, 92);
}
footer{
   text-align: center;
   font: italic;
   color: darkblue;

}